08-C/**/*.obj
01-Windows/00-Extra/12-CUDACloth/CUDACloth.zip
01-Windows/00-Extra/12-CUDACloth/log.txt
**/*.res
01-Windows/00-Extra/12-CUDACloth/CUDACloth.mp4
**/*.out
**/xwindow
**/*.zip
**/*.rar
00-GLUT/01-Triangle/glut-triangle
**/log.txt
**/*.dll
**/*.lib
**/*.exp
**/RMCLog.txt
03-Android/00-Windowing/_Template/*
**/.vscode
*.app*
*.log*
07-Direct3D11/**/*.exe
07-Direct3D11/**/*.obj
